<table class="table">
  <thead>
    <th scope="col">Account ID</th>
    <th scope="col">Date</th>
    <th scope="col">Reading</th>
  </thead>
  <tbody>
    <tr *ngFor="let reading of readings$ | async"
      [routerLink]="['/account', reading.accountID]">
      <td>{{reading.accountID}}</td>
      <td>{{reading.date}}</td>
      <td>{{reading.value}}</td>
    </tr>
  </tbody>
</table>