<table class="table">
  <thead>
    <th scope="col">Account ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts$ | async"
      [routerLink]="['/account', account.id]">
      <td>{{account.id}}</td>
      <td>{{account.firstName}}</td>
      <td>{{account.lastName}}</td>
    </tr>
  </tbody>
</table>