<h3>Readings Importer</h3>
<div>
  Import from CSV file with format:
  <br>
  <pre><code>
  AccountId,MeterReadingDateTime,MeterReadValue
  1234,22/04/2019 09:24,1002</code></pre>
</div>
<form class="input-group">
  <div class="custom-file">
    <input type="file"
      class="custom-file-input"
      id="csv-file"
      (change)="onChange($event.target.files)"
      #fileInput>
    <label class="custom-file-label" for="csv-file" #label>
      Choose file (CSV)
    </label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="onUpload()">
      Upload
    </button>
  </div>
</form>
<br>
<ng-container *ngIf="(upload$ | async) as upload">
  <ng-container *ngIf="upload.successful.length > 0">
    <h4>Successful imports</h4>
    <table class="table">
      <thead>
        <th scope="col">Line</th>
        <th scope="col">Account ID</th>
        <th scope="col">Date</th>
        <th scope="col">Reading</th>
      </thead>
      <tbody>
        <tr *ngFor="let success of upload.successful">
          <td>{{success.line}}</td>
          <td>{{success.accountId}}</td>
          <td>{{success.meterReadingDateTime}}</td>
          <td>{{success.meterReadValue}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </ng-container>
  <ng-container *ngIf="upload.errors.length > 0">
    <h4>Failed imports</h4>
    <table class="table">
      <thead>
        <th scope="col">Line</th>
        <th scope="col">Reason</th>
      </thead>
      <tbody>
        <tr *ngFor="let error of upload.errors">
          <td>{{error.line}}</td>
          <td>{{reasonText(error.reason)}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>