<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-brand">Meter Readings</div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/readings">Readings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/import-readings">Import</a>
      </li>
    </ul>
  </div>
</nav>