<table *ngIf="(account$ | async) as account" class="table">
  <thead>
    <th scope="col">Account ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
  </thead>
  <tbody>
    <td>{{account.id}}</td>
    <td>{{account.firstName}}</td>
    <td>{{account.lastName}}</td>
  </tbody>
</table>
<ng-container *ngIf="(readings$ | async) as readings">
  <table *ngIf="readings.length > 0" class="table">
    <thead>
      <th scope="col">Date</th>
      <th scope="col">Reading</th>
    </thead>
    <tbody>
      <tr *ngFor="let reading of readings">
        <td>{{reading.date}}</td>
        <td>{{reading.value}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>